/jq
/docker-compose
/sops
/k9s
/fd
/hyperfine
/bat
/tokei
/exa
/procs
/btm
/rg
/grex
/tldr
/helm-docs
/terragrunt
/terraform-lsp
/rclone
/minikube
/cointop
/ttyplot
/yq
/navi
/dog
/hexyl
/pomo
/git-lfs
/youtube-dl
/vale
/bw
/delta
/nnn
/viu
/gh
/glab
/terraform-docs
/shellcheck
